:root {
  --main-bg-color: #FEF9C7;
  --bs-body-bg: #242423;
}


.presentation {
    margin: 50% 0;
}
  
.presentationContainer {
  display: block;
  text-align: center;
}

  .presentation h1{
    margin: 0 5px 0 0;
    text-transform: uppercase;
    font-size: 2rem;
    color: #e46c6c;
    letter-spacing: 0.1rem;
  }
  
  .completeName {
    display:flex;
    justify-content: center;
    align-items: center;
  }
  /* 
  .completeName {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
  } */
  
  @keyframes fadeInOutAnimation {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  
  @keyframes translateAnimation {
    from {
      transform: translateX(0%);
    }
  
    to {
      transform: translateX(-75%);
    }
  }
  
.fadeOut {
    cursor: pointer;
    animation: fadeInOutAnimation 4s;
    animation-fill-mode: forwards;
}

.translateToLeft {
  display: flex;
  animation: translateAnimation 1s forwards;
  animation-delay: 3s;
}

.fadeIn {
    cursor: pointer;
    animation: fadeInOutAnimation 4s;
    animation-fill-mode: forwards;
    animation-direction: alternate-reverse;
    text-transform: uppercase;
    font-size: 2rem;
    color: var(--main-bg-color);
  } 
  
.surname {
    text-transform: uppercase;
    font-size: 2rem;
    color: var(--main-bg-color);
    padding-left: 0.1rem;
    letter-spacing: 0.1rem;
    margin: 0 0 0 5px;
  }
  
  .presentation p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #F6ECEC;
  }
  
  .presentation button {
    display: block;
    margin: auto;
    border: none;
    background-color: #b88787;
    color: #F6ECEC;
    font-size: 0.8rem;
    border-radius: 2rem;
    padding: 0.2rem 0.6rem;
  }
  
  .presentation button:hover {
    border: var(--main-bg-color);
    background-color: #ebebeb;
    font-size: 0.9rem;
    border-radius: 2rem;
    padding: 0.2rem 1rem;
    font-weight: thin;
  }

  
  .presentation button a {
    color: #F6ECEC;
    text-decoration: none;
  }
  

  .presentation button a:hover {
    color: #b88787;
    text-decoration: none;
  }

  
  @media only screen and (min-device-width: 768px) {
  
    .presentation {
      margin: 20% 0;
    }
    
  .presentationContainer {
    display: block;
    text-align: center;
  }
  
    .presentation h1{
      margin: 0 5px 0 0;
      text-transform: uppercase;
      font-size: 6rem;
      letter-spacing: 0.1rem;
    }
    
    .completeName {
      display:flex;
      justify-content: center;
      align-items: center;
    }
  
    .completeName {
      visibility: visible;
      opacity: 1;
      transition: opacity 2s linear;
    } 
    
@keyframes fadeInOutAnimation {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
}
    
    
@keyframes translateAnimation {
  from {
    transform: translateX(0%);
  }
    
  to {
    transform: translateX(-75%);
  }
}
    
.fadeOut {
      cursor: pointer;
      animation: fadeInOutAnimation 4s; 
      animation-fill-mode: forwards;
}
  
.translateToLeft {
    display: flex;
    animation: translateAnimation 1s forwards;
    animation-delay: 3s;
}
  
.fadeIn {
      cursor: pointer;
      animation: fadeInOutAnimation 4s;
      animation-fill-mode: forwards;
      animation-direction: alternate-reverse;
      text-transform: uppercase;
      font-size: 6rem;
      color: var(--main-bg-color);
} 
    
  .surname {
      text-transform: uppercase;
      font-size: 6rem;
      color: var(--main-bg-color);
      padding-left: 0.1rem;
      letter-spacing: 0.1rem;
      margin: 0 0 0 5px;
    }
    
    .presentation p {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      color: #F6ECEC;
    }
    
    .presentation button {
      display: block;
      margin: auto;
      background-color: #b88787;
      color: #F6ECEC;
      font-size: 1.1rem;
      border-radius: 2rem;
      padding: 0.3rem 1.2rem;
    }
    
    .presentation button:hover {
      border: var(--main-bg-color);
      background-color: #ebebeb;
      font-size: 1.1rem;
      border-radius: 2rem;
      padding: 0.3rem 1.2rem;
      font-weight: thin;
    }

    .presentation button a:hover {
      color: #b88787;
      text-decoration: none;
    }
  
  }