.navbar-brand {
    color:#fff;
}

.navbar-toggler {
    background-color:rgb(66, 66, 66);
    border-color: rgb(66, 66, 66);
}

.navItems a{
    text-decoration: none;
    padding: 0 0.5rem;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.05rem;
}

.navItems a:hover {
    text-decoration: none;
    padding: 0 0.5rem;
    color: rgb(255, 238, 0);
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.05rem;
}


@media only screen and (min-device-width: 768px) {

#navbarSupportedContent{
    margin-right: 1rem;
    flex-direction: row-reverse;
}

    .navbar-brand {
        color:#fff;
    }
    
    .navItems a{
        text-decoration: none;
        padding: 0 0.5rem;
        color: #fff;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.05rem;
    }
    
    .navItems a:hover {
        text-decoration: none;
        padding: 0 0.5rem;
        color: rgb(255, 238, 0);
        font-weight: 600;
        font-size: 18px;
        letter-spacing: 0.05rem;
    }
}