
.navbar {
    background-color:#272727;
    height: 3.5rem;
}
        
.navbar-brand:hover {
    color: #777777;
}

.nav-item a {
    color: #6a6a6a;
}

.nav-item a:hover {
    color: rgb(116 116 116 / 75%);
}

.navItems a:hover {
    color: #777777;
}
/* 
ul {
    margin-top: 15px;
}
 */
@media (min-width: 768px) {

    .navbar {
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: 1;
        }

#navbarSupportedContent{
    margin-right: 1rem;
    flex-direction: row-reverse;
}

.logo {
    font-size: 1.3rem;
}
.nav-item a {
    color: #dadada;
}

.nav-item a:hover {
    color: rgb(116 116 116 / 75%);
}

a {
    display: flex;
}

a:hover > .nameHidden {
    width: calc(56px + 3.2px);
}

a:hover > .surnameHidden {
    width: calc(24px + 3.2px);
}


a span {
    width:0px;
    overflow:hidden;
    transition: all 0.3s ease-in;
    transition: all 0.3s ease-out;
}

ul {
    margin-top: 0;
}

}