.containerContact {
  margin: 3rem;
  padding: 2rem;
  height: 100%;
}


.contactTitle {
  display: flex;
  justify-content: center;
}

/* h1 span {
  border: 0.2rem solid rgb(255, 238, 0);
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
  box-shadow: 1px 1px 10px rgb(255, 238, 0);
} */

.socialMedia {
  text-align: center;
}

.col a{
  height: auto;
  border: none;
  justify-content: center;
  text-align: center;
}

.col a:hover{
  height: auto;
  background-color: transparent;
  border: none;
  justify-content: center;
  text-align: center;
}

.icon {
  font-size: 2.5rem;
  text-align: center;
  margin: 1rem 0;
}

.btn:hover {
  color:rgb(192, 192, 192);
  background-color: rgb(0, 0, 0);
}

@media only screen and (min-device-width: 768px) {
.containerContact {
  display:block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1.5rem;
  padding: 6rem;
}

.socialMedia {
  display: flex;
  flex-wrap: nowrap;
  width: 33%;
  margin-top: 4rem;
}

.icon {
  font-size: 4rem;
  text-align: center;
}
}

