.container {
  width: 100vw;
  height: calc(100vh - 3.5rem);
  display: flex;
  justify-content: center;
  align-items: center
}

.containerContact {
  display: block;
  text-align: center;
  margin: 5rem 0;
}

.socialMedia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

 .col a{
  display: flex;
  justify-content: center;
  align-items: center;
}

.col a:hover{
  height: auto;
  background-color: transparent;
  border: none;
}

.icon {
  font-size: 2.5rem;
  text-align: center;
  margin: 1rem 0;
}

.btn:hover {
  color:rgb(192, 192, 192);
  background-color: rgb(0, 0, 0);
} 

@media (min-width: 768px) {

.socialMedia {
  flex-direction: row;
}

.col a {
  display: flex;
}

.icon {
  font-size: 4rem;
  text-align: center;
}

.row-cols-1>* {
  flex: auto;
}
}

