.container {
  width: 100vw;
  height: calc(100vh - 3.5rem);
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center
}

.containerContact {
  display: block;
  text-align: center;
  margin: 5rem 0;
}

.socialMedia {
  display: flex;
  flex-wrap: wrap;
}

.icon {
  font-size: 2.8rem;
  text-align: center;
  margin: 1rem 0;
}

.col a{
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1.5s;
}

.col a:hover{
  height: auto;
  background-color: transparent;
  border: none;
  transform: scale(1.2);
}
@media (min-width: 768px) {

.socialMedia {
  flex-wrap: nowrap;
}

.col a {
  display: flex;
}

.icon {
  font-size: 4rem;
  text-align: center;
}

.row-cols-1>* {
  flex: auto;
}
}

