:root {
    --main-bg-color: #ff6565;
  }
  
  h2 {
    margin: 3rem 0;
}

.col a {
    background-color: transparent;
}

.card-body {
    border: none;
    background-color: #313131;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding: 1rem 0;
}

.card-body h4 {
    color: #e46c6c;
}

.card-body p {
    color: #F6ECEC;
}

@media only screen and (min-device-width: 768px) {
.card {
    margin: 1rem;
    border-radius: 2.8rem;
    border: none;
}

.card img{
    width: 50%;
    height: 25vw;
    object-fit: cover;
}

.card-body{
    border: none;
    background-color: #313131;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.card-body p {
    color: #F6ECEC;
}
}