.projects{
    height: 100vh;
}

.linkProject {
    text-decoration: none;
    color: #fff;
}

.linkProject {
    color: rgb(120, 120, 120);
}

.btn-projects {
    margin: 1rem;
    font-weight: bold;
    background-color: var(--bs-danger-bg-subtle);
    color: rgb(120, 120, 120);
    --bs-btn-border-color: rgb(120, 120, 120);
    transition: 1s;
}

.btn-projects:hover {
    background-color: rgb(82, 82, 82);
    border-color: rgb(82, 82, 82);
    color: #eaeaea;
    transform: scale(1.15);
}

@media (min-width: 768px) {
.btn-projects {
        margin: 2rem;
        font-size: 18px;
    }


}