.projects {
    width: 100vw;
    height: calc(100vh - 3.5rem);
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center
}

h2 {
    margin: 3rem 0;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: rgb(192, 192, 192);
}

.btn-projects {
    margin: 1rem;
    font-weight: bold;
    background-color: var(--bs-danger-bg-subtle);
    color: rgb(165, 165, 165);
    --bs-btn-border-color: #ff8585;
    transition: 1s;
}

.btn-projects:hover {
    background-color: #d67e7e;
    border-color: #d67e7e;
    color: #eaeaea;
    transform: scale(1.15);
}

@media (min-width: 768px) {
.btn-projects {
        margin: 2rem;
        font-size: 18px;
    }


}