@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}

.container {
    width: 100vw;
    height: 100vh;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #000;
}

h2 {
    color: rgb(255, 238, 0);
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin: 0.7rem;
}

.container p {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    width: 85vw;
    color: #fff;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    margin: auto;
    text-align: justify;
    line-height: 1.6rem;
    animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}


.container img {
    width: 10rem;
    height: auto;;
    border-radius: 50%;
}