:root {
  --main-bg-color: #FEF9C7;
}

.containerAboutBox {
  height: 100vh;
}

.containerForm {
width: 100vw;
}

p {
  color: #383838;
  font-size: 18px;
  text-align: justify;
  margin-bottom: 5rem;
}

b {
  font-weight: 600;
}

.firebaseLogo {
  width: 1em;
  height: 1em;
  color: var(--bs-body-color);
}



/*-------------- DESKTOP ----------------*/

@media (min-width: 768px){

p {
  margin: 0 auto 4rem auto;
  font-size: 26px;
}

}