@keyframes blink {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

.type-writer::after {
    content: "|";
    animation: blink 1s infinite;
}

.container {
    width: 100vw;
    height: 100vh;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #000;
}

h2 {
    color: rgb(255, 238, 0);
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin: 0.7rem;
}

.container img {
    width: 10rem;
    height: auto;;
    border-radius: 50%;
}